<div class="container">
	<h3>About Me</h3>

	<div class="card z-depth-3">
		<div class="card-content white-text">
		<div class="row">
			<div class="col m6">
				
			</div>
			<div class="col m6">
				<div class="card-panel grey lighten-5 z-depth-1">
					<div class="row valign-wrapper">
						<div class="col m3">
							<%= image_tag "avatar.jpg", class: "circle responsive-img" %>
						</div>
						<div class="col m9">
							<span class="black-text">
								Hear See Touch... That's the formula for mathematical success!
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col m6">
				<div class="fb-page" data-href="https://www.facebook.com/taqueriasubang/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/taqueriasubang/"><a href="https://www.facebook.com/taqueriasubang/">Taquería</a></blockquote></div></div>
			</div>
		</div>
		</div>
	</div>


</div>